*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centrale{
    display: flex;

}
.sinistra{
    width: 30%;
    height: 100vh;
}

/* header */
.header-sinistra{
    background-color: rgb(189, 183, 183);
    padding-top: 10px;
    padding-bottom: 10px;
}
.margin{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}
.img-utente{
    width: 50px;
    height: 50px;
}
.img-utente > img{
    width: 100%;
}
.icone-header{
    display: flex;
    gap: 25px;
}
.icone-header > i{
    font-size: 20px;
    
}
/* parte blu */
.parte-notifiche{
    width: 100%;
    height: 17%;
    background-color: rgb(21, 154, 231);
}
.centro-notifiche{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
.icona-campana{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}
.icona-campana > i{
    font-size: 23px;
}
p{
    display: flex;
    align-items: center;
    gap: 7px;
}
p > i{
    font-size: 12px;
    padding-top: 5px;
}
/* input */
.parte-input{
    width: 100%;
    height: 8%;
}
.centrare-input{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.centrare-input > input{
    padding: 8px;
    width: 100%;
    height: 78%;
    padding-left: 77px;
    border-radius: 7px;
    border-style: none;
    background-color: rgb(189, 183, 183);
    margin-top: 6px;
}
.centrare-input > i{
    position: absolute;
    top: 16px;
    left: 10px;
}
/* chat sinistra */
.chatcontainer{
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
}
.chat-dentro{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
.img-chat{
    width: 79px;
    height: 60px;
}
.scritte-chat{
    width: 100%;
}
.img-chat> img{
    width: 100%;
    border-radius: 70px;
}
.dentro-scritte{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dentro-scritte > span{
    font-size: 15px;
}






/* destra */
.destra{
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/sfondo.jpg);
}

/* header */
.contatto-header{
    border-left: 1px solid black;
    background-color: rgb(189, 183, 183);
    height: 11%;
}
.cerchio-header{
    width: 50px;
    height: 50px;
    display: flex;
    
}
.dentro-chat{
    display: flex;
    align-items: center;
    gap: 15px;
}
.cerchio-header > img{
    width: 100%;
    height: 100%;
}
.centrare-header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}
.icone-chat > i{
    font-size: 20px;
    padding-left: 20px;
}
.icone-chat{

}


/* sotto chat */
.sotto-chat{
    width: 100%;
    height: 11%;
    background-color: rgb(189, 183, 183);
}
.centrare-sotto{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-sotto > input{
    padding-left: 15px;
    padding-right: 585px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    border-style: none;
}
.icone-sotto > i{
    font-size: 20px;
}
.invia-sotto > i{
    font-size: 20px;
}

/* chat centrale  */
.messaggi-centro{
    width: 100%;
    height: 77%;
    padding-top: 40px;
}
.messaggi-centrare{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.chat-usersopra{
    width: 100%;
}
.chat-user{
    background-color: white;
    width: max-content;
    padding: 15px;
    border-radius: 10px;
}
.chat-iosopra{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.chat-io{
    background-color: greenyellow;
    width: max-content;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}



/* altro */
.chatcontainer{
    cursor: pointer;
}
.chatcontainer:hover{
    background-color: rgba(189, 183, 183,1);
}
i{
    cursor: pointer;
}


.notactive.active{
    display: block;
}
.notactive{
    display: none;
}